<div class="textMision">
    <h1>Misión</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur 
        adipisicing elit. Omnis hic rem architecto magnam.
         Quas, dolor dicta? Doloremque consequuntur alias 
         quibusdam, aperiam molestiae rem, harum quod
          atque excepturi laudantium nostrum neque?
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur 
        adipisicing elit. Omnis hic rem architecto magnam.
         Quas, dolor dicta? Doloremque consequuntur alias 
         quibusdam, aperiam molestiae rem, harum quod
          atque excepturi laudantium nostrum neque?
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur 
        adipisicing elit. Omnis hic rem architecto magnam.
         Quas, dolor dicta? Doloremque consequuntur alias 
         quibusdam, aperiam molestiae rem, harum quod
          atque excepturi laudantium nostrum neque?
    </p>
</div>