<div>
    <div>
        <div class="btnOption">
            <button class="btn btn-primary">TOP 5: más me gusta</button>
            <button class="btn btn-primary">Top 5: más publicaciones</button>
        </div>
    </div>
    <div class="table-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Genero</th>
                      <th scope="col">Correo</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Contraseña</th>
                      <th scope="col" class="btn-section">View</th>
                      <th scope="col" class="btn-section">Del</th>
                      <th scope="col" class="btn-section">Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user['name']}}</td>
                        <td>{{user['gender']}}</td>
                        <td>{{user['email']}}</td>
                        <td>{{user['username']}}</td>
                        <td>{{user['password']}}</td>
                        <td>
                          <span class="material-icons btn btn-info" (click)="view(user['username'])">
                            remove_red_eye
                            </span>
                        </td>
                        <td>
                            <span class="material-icons btn btn-danger" (click)="deleteUsr(user['username'])">
                            delete
                            </span>
                        </td>
                        <td>
                            <span class="material-icons btn btn-warning" (click)="edit(user['username'])">
                                edit
                            </span>
                        </td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>
