<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div *ngIf ="!gl.isLogin" class="container-fluid">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active" routerLinkActive #rla="routerLinkActive">UBlog <span class="material-icons">
        question_answer
        </span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/mision" routerLinkActive="active">Misión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/vision" routerLinkActive="active">Visión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contáctenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/more" routerLinkActive="active">Sobre Mi</a>
          </li>
        </ul>
        <span class="navbar-text">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
        </span>
      </div>
    </div>
    <div *ngIf ="gl.isLogin" class="container-fluid">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active" routerLinkActive #rla="routerLinkActive">UBlog <span class="material-icons">
        question_answer
        </span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/topost" routerLinkActive="active">Crear Publicación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mypost" routerLinkActive="active">Mis Publicaciones</a>
          </li>
          <li class="nav-item">
            <a *ngIf="gl.userData.rol=='admin'" class="nav-link" routerLink="/upload" routerLinkActive="active">Cargar Archivo</a>
          </li>
          <li class="nav-item">
            <a *ngIf="gl.userData.rol=='admin'" class="nav-link" routerLink="/users" routerLinkActive="active">Usuarios</a>
          </li>
        </ul>
        <span class="navbar-text">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">{{gl.userData.username}} | Perfil</a>
        </span>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>