<div class="form-container">
    <div class="form">
        <h1>Carga de archivo</h1>
        <form #uploadForm="ngForm" (ngSubmit)="upload(uploadForm)" >
            <label class="hide-input" for="ge" class="form-label">Tipo:</label>
            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="type" id="image" value="images" checked ngModel>
                    <label class="form-check-label" for="image">Imagenes y Videos</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="type" id="users" value="users" ngModel>
                    <label class="form-check-label" for="users">Usuarios</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="filename" class="form-label">Ruta del archivo</label>
                <input type="file" class="form-control"
                (change)="onFileSelected($event)" #fileUpload>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Cargar al servidor</button>
            </div>
        </form>
        
    </div>
</div>

